{% extends 'function/base.html' %}

{% block content %}

<table class="styled-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Source</th>
            <th>Level</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dom</td>
            <td>MISP</td>
            <td>2</td>
            <td>acb</td>
        </tr>
        <tr class="active-row">
            <td>Dom</td>
            <td>MISP</td>
            <td>2</td>
            <td>acb</td>
        </tr>
        <tr>
            <td>Dom</td>
            <td>MISP</td>
            <td>2</td>
            <td>acb</td>
        </tr>
        <tr class="active-row">
            <td>Dom</td>
            <td>MISP</td>
            <td>2</td>
            <td>acb</td>
        </tr>
        <tr>
            <td>Dom</td>
            <td>MISP</td>
            <td>2</td>
            <td>acb</td>
        </tr>
        <tr class="active-row">
            <td>Dom</td>
            <td>MISP</td>
            <td>2</td>
            <td>acb</td>
        </tr>

    </tbody>
</table>

{% endblock content %}