{% extends 'function/base.html'%}

{% block content %}
{% if result %}
<center>
    <h1>Ket qua la</h1>
</center>
<section class="container-data">
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark tableData">
            <tr>
                <th> ID</th>
                <th> Link</th>
                <th> Published</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>
                    <p>{{ row.1 }}</p>
                </td>
                <td>{{ row.2 }}</td>
            </tr>
        </tbody>
    </table>
</section>
<!-- {% endfor %}
{% endif %}
<href="{% url 'home' %}">
    <button>Go to Dashboard</button>
    {% endblock content %} -->