
    <div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Creative Tim
                </a>
            </div>
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">
                        <i class="nc-icon nc-chart-pie-35"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'function:config'%}">
                        <i class="nc-icon nc-circle-09"></i>
                        <p>Config</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'function:list' %}">
                        <i class="nc-icon nc-notes"></i>
                        <p>Table Result</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'function:search' %}">
                        <i class="nc-icon nc-paper-2"></i>
                        <p>Search</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#">
                        <i class="nc-icon nc-atom"></i>
                        <p>Status</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#">
                        <i class="nc-icon nc-bell-55"></i>
                        <p>Notifications</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
